<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>hbase</title>
	<link rel="stylesheet" type=" text/css" href="css/style.css"/>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/jquery-session.js"></script>
	<script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<div class="login-form">
	<h1>Hbase课程综合实践展示</h1>
	<div class="txtb">
		<input type="text" id="username">
		<span data-placeholder="username"></span>
	</div>
	<div class="txtb">
		<input type="password" id="pwd">
		<span data-placeholder="password"></span>
	</div>
	<button class="logbtn" name="Login" onclick="submit()">登录</button>
	<span id="text" hidden="true"></span>
	<div class="bottom-text">
		Don't have account?<a href="#">Sign up</a>
	</div>
</div>
</body>
</html>
