<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>read-1</title>
    <link href="css/style2.css" rel="stylesheet" type="text/css" />
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery-session.js"></script>
    <script type="text/javascript" src="js/read1-2.js"></script>
</head>
<body id="page">
<h2>我的关注</h2>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="container">
  <tr id="nav">
    <th>关注的用户ID</th>
	<th>关注的用户姓名</th>
  </tr>
  <tr>
      <th class="result"></th>
      <td>
		<input type="text" id="textfield" placeholder="输入某人的ID"/>
        <button name="query" type="button" class="bt"  onclick="checkFollowRel()">查询</button>
	  </td>
    </tr>
</table>
</body>
</html>
